.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vscode-extension.iml
*.ts
!out/**/*.js
tsconfig.json
**/*.map
**/*.ts
node_modules/**
*.md
!README.md
!LICENSE
!CHANGELOG.md
INSTALL.md
QUICKSTART.md
MARKETPLACE_CHECKLIST.md
REVIEW_SUMMARY.md
*.sol
